* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0px; }

.contenedor {
  margin: 0px 0px 15px 0px;
  background: blue;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.arriba {
  width: 100%;
  height: auto;
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 10px solid rgba(218, 216, 216, 0.5); }

#logo {
  width: 65%;
  height: 50%;
  display: inline-block; }

#titulo {
  font-family: "Crimson Text", serif;
  background: none;
  text-align: center;
  display: block; }

.menu_bar {
  display: none; }

.contenedor_menu {
  width: 95%;
  max-width: 1000px;
  margin: auto; }

.sticky {
  width: 100%;
  max-width: 1000px;
  position: fixed;
  z-index: 1000;
  top: -20px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5); }

header {
  width: 100%; }
  header nav {
    background: whitesmoke;
    background: -moz-linear-gradient(left, whitesmoke 0%, whitesmoke 1%, #c2c0c2 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, whitesmoke), color-stop(1%, whitesmoke), color-stop(100%, #c2c0c2));
    background: -webkit-linear-gradient(left, whitesmoke 0%, whitesmoke 1%, #c2c0c2 100%);
    background: -o-linear-gradient(left, whitesmoke 0%, whitesmoke 1%, #c2c0c2 100%);
    background: -ms-linear-gradient(left, whitesmoke 0%, whitesmoke 1%, #c2c0c2 100%);
    background: linear-gradient(to right, whitesmoke 0%, whitesmoke 1%, #c2c0c2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#c2c0c2', GradientType=1 );
    z-index: 1000;
    max-width: 1000px;
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 20px; }
    header nav ul {
      list-style: none; }
      header nav ul li {
        display: inline-block;
        position: relative; }
        header nav ul li a {
          color: #858A85;
          display: block;
          text-decoration: none;
          padding: 20px; }
          header nav ul li a span {
            margin: 0px 10px; }
      header nav ul li:hover {
        background: #F5F5F5; }

header nav ul li:hover .children {
  display: inline-block; }

header nav ul li .children {
  display: none;
  background: #D4D5D4;
  position: absolute;
  width: 150%;
  z-index: 1000; }
  header nav ul li .children li {
    display: block;
    border-bottom: 1px solid white;
    overflow: hidden; }
    header nav ul li .children li a {
      display: block; }
      header nav ul li .children li a span {
        float: right;
        position: relative;
        top: 3px;
        margin-right: 0px;
        margin-left: 10px; }
    header nav ul li .children li .caret {
      position: relative;
      top: 12px;
      margin-left: 15px;
      margin-right: 0px; }

.submenu:hover {
  cursor: default; }

#ask:hover {
  cursor: help; }

#formulario {
  width: 100%;
  height: 100%;
  position: fixed;
  color: #858A85;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1500;
  display: none; }
  #formulario h1 {
    margin-left: 35px; }

.login .form {
  height: 300px;
  padding: 25px;
  background: white;
  top: 30%;
  position: absolute; }
  .login .form h1 {
    color: orange;
    align-self: center; }

.login .form {
  display: flex;
  flex-direction: column; }
  .login .form form {
    align-self: center;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column; }
    .login .form form .formcont {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      height: auto; }
      .login .form form .formcont .formin {
        margin-top: 25px;
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto; }

.login .form form .formcont .formin input {
  width: 80%;
  height: 30px;
  display: flex;
  flex-direction: row; }
.login .form form .formcont .formin input:required:invalid {
  border: 1px solid #FA362A; }
.login .form form .formcont .formin input:required:valid {
  border: 1px solid #7CF338; }
.login .form form .formcont .formin #button {
  width: 30px;
  align-self: center; }
.login .form form .formcont .formin textarea {
  width: 80%;
  height: 40px; }
.login .form form .formcont .formin #datosRevista {
  width: 50%; }
.login .form form .formcont .formin .datosRevista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.cerrar {
  front-weight: 900;
  text-align: right; }
  .cerrar a {
    color: red;
    text-decoration: none; }

@media screen and (max-width: 750px) {
  .login .form form input {
    width: auto; }
  .login .form form textarea {
    width: 95%;
    height: 40px; } }
.login {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70%; }
  .login .form {
    width: 40%;
    height: auto;
    display: flex;
    top: 25%;
    align-self: center;
    position: relative;
    font-size: 20px; }
    .login .form form {
      display: flex;
      flex-direction: column;
      background: white; }
    .login .form #congreso {
      display: flex;
      flex-direction: column;
      height: inherit; }
      .login .form #congreso input {
        display: block;
        margin: 10px;
        height: 30px;
        width: 70%; }
      .login .form #congreso textarea {
        width: 70%;
        height: 100px; }
    .login .form .botones {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 20px;
      align-self: center; }

.capitulos .login .form, .desarrollosTec .login .form, .estancias .login .form {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto; }
  .capitulos .login .form #congreso, .desarrollosTec .login .form #congreso, .estancias .login .form #congreso {
    height: auto; }
  .capitulos .login .form form, .desarrollosTec .login .form form, .estancias .login .form form {
    height: 500px; }

.abajo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .abajo .fotoPerfil {
    width: 350px;
    height: 350px;
    background: white; }
  .abajo .productos {
    display: flex;
    background: orange;
    width: 1000px;
    height: auto; }
    .abajo .productos ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      text-decoration: none;
      background: yellow;
      width: 100%; }
      .abajo .productos ul li {
        width: 90%;
        height: 200px;
        background: white;
        text-align: center;
        background: red;
        display: flex;
        justify-content: center; }
        .abajo .productos ul li ul {
          width: 90%;
          text-decoration: none;
          list-style: none;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          background: green;
          flex-direction: row;
          align-content: flex-start;
          justify-content: space-between; }
          .abajo .productos ul li ul li {
            width: 30%;
            height: 100%;
            background: white; }
            .abajo .productos ul li ul li a {
              text-decoration: none;
              color: black;
              width: 100%;
              height: 100%;
              display: block; }

@media screen and (max-width: 750px) {
  .menu_bar {
    display: flex;
    justify-content: flex-start;
    width: auto;
    flex-direction: row-reverse;
    height: 35px;
    position: fixed;
    top: 180px;
    background: #0b0b0a;
    right: 0;
    padding-top: 5px; }
    .menu_bar .bt_menu {
      display: block;
      padding: 20px;
      color: white;
      overflow: hidden;
      font-size: 25px;
      font-decoration: bold;
      text-decoration: none;
      position: relative;
      height: 250px; }

  header .menu_bar a {
    color: white; }
  header .menu_bar span {
    float: right;
    font-size: 20px;
    color: white;
    margin: 0px 15px;
    display: block; }

  header {
    width: 100%; }

  header nav {
    width: 70%;
    height: calc(100% - 35px);
    position: fixed;
    right: 100%;
    margin: 0px; }
    header nav ul li {
      display: block;
      border-bottom: 1px solid white; }
      header nav ul li a {
        display: block; }

  header nav ul li:hover .children {
    display: none; }

  header nav ul li .children {
    background: aqua;
    width: 100%;
    position: relative; }
    header nav ul li .children li a {
      margin-left: 20px; }

  header nav ul li .caret {
    float: right; }

  .login {
    width: 95%;
    height: 95%;
    justify-content: flex-end; }
    .login .form {
      width: 90%;
      height: 100%;
      padding: 10px;
      top: 0px; }
      .login .form form {
        top: 0px;
        overflow: auto;
        width: 100%;
        height: auto; }
        .login .form form .formcont {
          display: flex;
          flex-direction: column;
          overflow-y: scroll;
          align-items: center;
          background: white; }
          .login .form form .formcont .formin {
            width: 100%;
            background: white; }
      .login .form h1 {
        font-size: 25px; }

  #logo {
    width: 95%;
    height: auto; }

  #titulo {
    font-size: 16px; }

  .abajo .fotoPerfil {
    width: 150px;
    height: 150px; }
  .abajo .productos ul li {
    height: auto; }
    .abajo .productos ul li ul {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      height: auto;
      background: blue; }
      .abajo .productos ul li ul li {
        margin: 10px;
        width: 100px;
        height: 100px; } }

/*# sourceMappingURL=productividad.css.map */
