* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0px; }

.contenedor {
  margin: 0px 0px 15px 0px;
  background: red;
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.arriba {
  width: 100%;
  height: 250px;
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

#logo {
  width: 65%;
  height: 50%;
  display: inline-block;
  background: black; }

#titulo {
  font-family: Helvetica;
  background: blue;
  text-align: center;
  display: inline-block; }

.abajo {
  width: 100%;
  height: 65%;
  background: yellow;
  display: flex;
  justify-content: center; }

.caja {
  width: 80%;
  height: 80%;
  background: red;
  margin: 50px auto;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.contenedor_tarjeta {
  margin: 20px; }
  .contenedor_tarjeta a {
    display: inline-block; }

.contenedor_tarjeta:hover figure {
  -webkit-box-shadow: -4px 3px 14px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 3px 14px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 3px 14px -2px rgba(0, 0, 0, 0.75);
  transform: rotateY(180deg); }
  .contenedor_tarjeta:hover figure #ocupacion {
    visibility: hidden; }

figure {
  width: 350px;
  height: 270px;
  margin: 0px;
  position: relative;
  transition: all ease 600ms;
  transform-style: preserve-3d;
  transform: perspective 400px rotateY(180deg); }
  figure .frontal, figure .trasera {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all ease 600ms; }
  figure .frontal {
    display: inline-block; }
  figure .trasera {
    position: absolute;
    top: 0px;
    padding: 20px;
    color: #fff;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto; }

.contenedor_tarjeta:nth-child(1) figure .trasera {
  background: rgba(199, 205, 230, 0.75);
  background: -moz-linear-gradient(left, rgba(199, 205, 230, 0.75) 0%, rgba(246, 246, 246, 0.75) 0%, #714f58 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(199, 205, 230, 0.75)), color-stop(0%, rgba(246, 246, 246, 0.75)), color-stop(100%, #714f58));
  background: -webkit-linear-gradient(left, rgba(199, 205, 230, 0.75) 0%, rgba(246, 246, 246, 0.75) 0%, #714f58 100%);
  background: -o-linear-gradient(left, rgba(199, 205, 230, 0.75) 0%, rgba(246, 246, 246, 0.75) 0%, #714f58 100%);
  background: -ms-linear-gradient(left, rgba(199, 205, 230, 0.75) 0%, rgba(246, 246, 246, 0.75) 0%, #714f58 100%);
  background: linear-gradient(to right, rgba(199, 205, 230, 0.75) 0%, rgba(246, 246, 246, 0.75) 0%, #714f58 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7cde6', endColorstr='#714f58', GradientType=1 ); }

.contenedor_tarjeta:nth-child(2) figure .trasera {
  background: rgba(240, 217, 180, 0.75);
  background: -moz-linear-gradient(left, rgba(240, 217, 180, 0.75) 0%, rgba(246, 246, 246, 0.75) 0%, #a66f37 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240, 217, 180, 0.75)), color-stop(0%, rgba(246, 246, 246, 0.75)), color-stop(100%, #a66f37));
  background: -webkit-linear-gradient(left, rgba(240, 217, 180, 0.75) 0%, rgba(246, 246, 246, 0.75) 0%, #a66f37 100%);
  background: -o-linear-gradient(left, rgba(240, 217, 180, 0.75) 0%, rgba(246, 246, 246, 0.75) 0%, #a66f37 100%);
  background: -ms-linear-gradient(left, rgba(240, 217, 180, 0.75) 0%, rgba(246, 246, 246, 0.75) 0%, #a66f37 100%);
  background: linear-gradient(to right, rgba(240, 217, 180, 0.75) 0%, rgba(246, 246, 246, 0.75) 0%, #a66f37 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0d9b4', endColorstr='#a66f37', GradientType=1 ); }

.contenedor_tarjeta:nth-child(3) figure .trasera {
  background: rgba(200, 219, 247, 0.75);
  background: -moz-linear-gradient(left, rgba(200, 219, 247, 0.75) 0%, rgba(126, 173, 212, 0.92) 69%, #7eadd4 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(200, 219, 247, 0.75)), color-stop(69%, rgba(126, 173, 212, 0.92)), color-stop(100%, #7eadd4));
  background: -webkit-linear-gradient(left, rgba(200, 219, 247, 0.75) 0%, rgba(126, 173, 212, 0.92) 69%, #7eadd4 100%);
  background: -o-linear-gradient(left, rgba(200, 219, 247, 0.75) 0%, rgba(126, 173, 212, 0.92) 69%, #7eadd4 100%);
  background: -ms-linear-gradient(left, rgba(200, 219, 247, 0.75) 0%, rgba(126, 173, 212, 0.92) 69%, #7eadd4 100%);
  background: linear-gradient(to right, rgba(200, 219, 247, 0.75) 0%, rgba(126, 173, 212, 0.92) 69%, #7eadd4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8dbf7', endColorstr='#7eadd4', GradientType=1 ); }

#ocupacion {
  font-family: cursive;
  display: block;
  text-align: center;
  font-size: 25px; }

img {
  width: 5%;
  height: 2%; }

a {
  text-decoration: none; }

@media screen and (max-width: 750px) {
  #logo {
    width: 100%; }

  .caja {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: orange;
    height: auto; } }

/*# sourceMappingURL=sass.css.map */
